@import url("../../pages/app.css");

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  padding: 25px 15px;
  position: fixed;
  width: 100%;
}

.login-text {
  color: var(--color-darkgrey);
}
