.details-more-containter {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 25px;
}

.details-info {
  display: flex;
  align-items: flex-end;
  gap: 25px;
  margin: 30px 0px;
  border-top: 1px solid var(--color-darkgrey);
  padding-top: 30px;
}

.details-title {
  font-size: 40px;
  text-align: center;
}

.details-genre {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px;
  margin-left: 0px;
  display: inline-block;
}

.details-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.details-read {
  margin: 20px 0px;
}

.back-button {
  width: 35px;
  height: 35px;
  text-align: center;
  border: none;
  margin-bottom: 20px;
}

.quote-container {
  border: 1px solid var(--color-darkgrey);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 30px 0px;
}

.moreFromAuthor {
  margin: 30px 0px;
}
