.textSnippet {
  padding: 5px 0px;
  color: var(--color-black);
  font-weight: 200;
  font-size: 14px;
}

.button-bookdelete {
  font-weight: 200;
  font-size: 14px;
  background: none;
  color: var(--color-black);
  margin: 5px 0px;
}

.button-bookdelete:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}
