.details-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 20px;
  border-radius: 2px;
  margin: 20px -20px 0px -20px;
  color: var(--color-white);
}

.details-select {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-black);
  width: 60%;
  font-family: var(--font-sanSerif);
  font-size: 16px;
  color: var(--color-white);
}

.details-form-button {
  background: none;
  color: var(--color-white);
  border-color: var(--color-white);
}
