.details-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
}

.details-select {
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-black);
  width: 60%;
  font-family: var(--font-sanSerif);
  font-size: 16px;
  color: var(--color-black);
}

.details-form-button {
  background: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.addToBookshelfSuccess {
  padding-bottom: 15px;
  color: var(--color-darkgrey);
  animation: slide-in 800ms;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
