.bookshelf-button-container {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.button-bookdelete {
  border: none;
  background: none;
}
.button-bookdelete:hover {
  border: none;
  background: none;
}
