@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* @font-face {
  font-family: "BrolimoRegular";
  src: local("BrolimoRegular"),
    url("../src/fonts/BrolimoRegular.ttf") format("ttf");
} */

:root {
  --color-white: #faf9f9;
  --color-black: #252422;
  --color-darkgrey: #6b6b6b;
  --color-grey: #c0c0c0;
  --color-lightgrey: rgb(238, 238, 238);
  --color-blue: #1212ec;
  --font-sanSerif: "DM Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-sanSerif);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-blue);
}

.underlined {
  text-decoration: underline;
}

button {
  background: var(--color-black);
  padding: 3px 10px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  height: 30px;
  color: var(--color-white);
}

button:hover {
  background: none;
  color: var(--color-black);
}

h1 {
  font-family: var(--font-sanSerif);
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  color: var(--color-black);
}

h2,
h3,
h4 {
  font-family: var(--font-sanSerif);
  font-weight: 400;
}

p {
  font-weight: 300;
}

body {
  background-color: var(--color-white);
}

.small-text {
  font-size: 14px;
  color: var(--color-grey);
}

main {
  padding: 100px 15px;
}

.bookimage-small {
  height: 250px;
  margin-bottom: 10px;
  background-color: var(--color-black);
}

.title {
  font-weight: 700;
}

.author {
  font-weight: 200;
  font-size: 14px;
}

.quote {
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
}

.tagline {
  color: var(--color-darkgrey);
}

.link-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/*Scrollbar
/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-black);
}
