@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "LeMurmure-Regular";
  src: local("LeMurmure-Regular"),
    url("../src/fonts/LeMurmure-Regular.woff") format("woff");
}

.antic-didone-regular {
  font-family: "LeMurmure-Regular";
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
}

:root {
  --color-white: #faf9f9;
  --color-black: #252422;
  --color-darkgrey: #6c757d;
  --color-lightgrey: rgb(225, 225, 225);
  --color-blue: #03256c;
  --font-sanSerif: "Manrope", sans-serif;
  --font-Serif: "Noto Serif Display", serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-darkgrey);
}

.underlined {
  text-decoration: underline;
}

button {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 3px 10px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  height: 30px;
}

button:hover {
  border: 1px solid var(--color-darkgrey);
  color: var(--color-darkgrey);
}

h1 {
  font-family: var(--font-sanSerif);
  font-weight: 800;

  font-size: 56px;
  line-height: 120%;
}

h2,
h3,
h4 {
  font-family: var(--font-sanSerif);
  font-weight: 200;
}

body {
  background-color: var(--color-white);
  width: 100%;
}

main {
  padding: 70px 15px;
  padding-top: 20px;
}

.bookimage-small {
  height: 250px;
  margin-bottom: 10px;
  background-color: var(--color-black);
}

.title {
  font-weight: 700;
}

.author {
  font-weight: 200;
  font-size: 14px;
}
