@import url("../../pages/app.css");

.content {
  margin: 50px 0;
  padding-top: 25px;
  border-top: 1px solid var(--color-black);

  /*Scrollbar
/* width */
  ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-lightgrey);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-black);
  }
}

.bestseller-container {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-top: 25px;
  padding-bottom: 15px;
}

.bestseller-group {
  width: 100vw;
}

.bestseller-rank {
  border-radius: 50px;
  padding: 3px;
  width: 15px;
  height: 15px;
  text-align: center;
  margin-bottom: 5px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.bestseller-title {
  font-size: 16px;
  font-weight: 600;
}

.bestseller-author {
  font-size: 14px;
  font-weight: 200;
  color: var(--color-darkgrey);
  padding-bottom: 5px;
}

.bestseller-description {
  display: flex;
}

.bookimage-small-bestseller {
  height: 250px;
  margin-bottom: 10px;
  background-color: var(--color-black);
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.bookimage-small-bestseller:hover {
  opacity: 1;
  transform: scale(1.02);
}
